<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>v-else, v-else-if</title>
  </head>
  <body>
    <!-- 
    v-else, v-else-if 디렉티브
    - v-if 디렉티브의 조건이 거짓일 때 실행되는 디렉티브
  -->

    <div id="app">
      잔고: <input v-model="balance" />
      <br />
      회원님의등급:
      <span v-if="balance > 1000000">Gold</span>
      <span v-else-if="balance >= 500000">Silver</span>
      <span v-else-if="balance >= 200000">Bronze</span>
      <span v-else="balance">Basic</span>
    </div>

    <script src="http://unpkg.com/vue"></script>
    <script>
      const vm = Vue.createApp({
        name: 'App',
        data() {
          return { balance: 0 };
        },
      }).mount('#app');
    </script>
  </body>
</html>
